
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid Website Design</title>
    <link rel="stylesheet" type="text/css"  href="style/index.css">
</head>
<body>
<section>
    <div class="imgbx">
    <img src="image/imag1.jpg" alt="img">
    </div>
        <div class="contentbx">
        <div class="formbx">
        <div class="logo">
         <img src="image/logo-color-transparent.png" class="logo" alt="Logo">
      </div>
        <div class="inputbx">
         <form action="login">
                <input type="submit" value="Login"/>
            </form>
           </div>
            <div class="inputbx">
            <form action="registration">
                 <input type="submit" value="Register"/>
            </form>
            </div>
            <h3>Login with social media</h3>
            <ul class="sci">
            <li><img src="image/facebook.png"></li>
               <li><img src="image/google.png"></li>
                  <li><img src="image/twitter.png"></li>
            </ul>
        </div>
         </div>
    </section>
</body>
</html>

<!--  <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="image/logo-color-transparent.png" class="logo" alt="Logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="registration">Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    Main Content
    <section class="vh-100 gradient-custom">
        <div class="container py-5">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card text-white" style="border-radius: 1rem;">
                       
                    </div>
                </div>
            </div>
        </div>
    </section>
    Footer
    <footer class="footer">
        <div class="container text-center">
            <a href="#" class="text-white me-4"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="text-white me-4"><i class="fab fa-twitter"></i></a>
            <a href="#" class="text-white me-4"><i class="fab fa-instagram"></i></a>
            <a href="#" class="text-white me-4"><i class="fab fa-linkedin"></i></a>
        </div>
    </footer>
    JavaScript for Bootstrap
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-9aO3QXA94B5rWp8f+VDdl3dudG1Ve6cmfSSjWQF7rxZK+8Te/7dFfQD+QwjU8+HH" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-iBdLbSf93MkEJbZy2Tc2JeH8X5d5/kfn+Z/GXy9SiqLy6uWh5jGjXRFrfIWpU6v1" crossorigin="anonymous"></script>
</body> -->